<html>
    <head>
        <title>
            contact
        </title>
    </head>
    <body>
        <form  action = "\data" method="POST">
            
            <input type="text" name='First_Name' placeholder="FirstName" required='required' />
            <input type="text" name='second_Name' placeholder="secondName" required='required' />
            <input type="number" name='Number' placeholder="Number" required='required' />
            <input type="email" name='email' placeholder="email" required='required' />

            
            <button type = 'submit'> Predict</button>


        </form>

        <h1>
            This is contact file
        </h1>
        <p>this is our first file</p>
    </body>
</html>